In [2]:
import pandas as pd
import glob
import os
import shutil
from PIL import Image
import numpy as np

In [21]:
annotation = pd.read_csv('data_detection/nyc3dcars-csv/vehicles.csv')

In [19]:
image = pd.read_csv('data_detection/nyc3dcars-csv/photos.csv')

In [11]:
image = image[['id','filename']]

In [14]:
annotation = annotation[['id','x1','y1','x2','y2']]

In [31]:
vehicle_labels = pd.merge(image,annotation,left_on='id',right_on='pid')[['filename','x1','y1','x2','y2']]

In [33]:
vehicle_labels.insert(1,'class','vehicle')

In [43]:
vehicle_labels.filename = vehicle_labels.filename.str.split('/').str[-1]

In [48]:
files = glob.glob('./data_detection/**/*.jpg',recursive=True)

In [54]:
for i in files:
    shutil.move(i,'./detection_image/'+i.split('/')[-1])

In [68]:
df2.insert(1,'width',0)

In [69]:
df2.insert(2,'height',0)

In [70]:
files = './detection_image/'+vehicle_labels.filename

In [77]:
vehicle_labels.head(3)

,filename,width,height,class,x1,y1,x2,y2
0,3115313077_1f98782a28_o.jpg,0,0,vehicle,0.050556,0.590772,0.154850,0.632466
1,3115313077_1f98782a28_o.jpg,0,0,vehicle,0.168793,0.607008,0.295837,0.670164
2,3115313077_1f98782a28_o.jpg,0,0,vehicle,0.129684,0.584557,0.254496,0.633782

In [82]:
vehicle_labels.iloc[0,2]

0

In [70]:
df2.head(3)

                  filename  width  height    class  xmin  ymin  xmax  ymax
0  1478019952686311006.jpg      0       0  vehicle   950   574  1004   620
1  1478019952686311006.jpg      0       0  vehicle  1748   482  1818   744
2  1478019953180167674.jpg      0       0  vehicle   872   586   926   632

In [94]:
df.columns

Index(['filename', 'width', 'height', 'class', 'xmin', 'ymin', 'xmax', 'ymax'], dtype='object')

In [95]:
df2.columns

Index(['filename', 'width', 'height', 'class', 'xmin', 'ymin', 'xmax', 'ymax'], dtype='object')

In [97]:
data = pd.concat([df,df2])

In [102]:
val = data.sample(20)

In [103]:
train = data[~data.filename.isin(val.filename)]

In [105]:
train.to_csv('train_label.csv')

In [106]:
val.to_csv('val_label.csv')

In [91]:
j = 0
for i in df2.filename.unique():
    img = Image.open('./detection_image/'+i)
    df2.loc[df2.filename == i,'width'] = np.asarray(img).shape[0]
    df2.loc[df2.filename == i,'height']  = np.asarray(img).shape[1]
    if j % 100 == 0 :
        print('{}/{}'.format(j,22281))
    j += 1

0/22281
100/22281
200/22281
300/22281
400/22281
500/22281
600/22281
700/22281
800/22281
900/22281
1000/22281
1100/22281
1200/22281
1300/22281
1400/22281
1500/22281
1600/22281
1700/22281
1800/22281
1900/22281
2000/22281
2100/22281
2200/22281
2300/22281
2400/22281
2500/22281
2600/22281
2700/22281
2800/22281
2900/22281
3000/22281
3100/22281
3200/22281
3300/22281
3400/22281
3500/22281
3600/22281
3700/22281
3800/22281
3900/22281
4000/22281
4100/22281
4200/22281
4300/22281
4400/22281
4500/22281
4600/22281
4700/22281
4800/22281
4900/22281
5000/22281
5100/22281
5200/22281
5300/22281
5400/22281
5500/22281
5600/22281
5700/22281
5800/22281
5900/22281
6000/22281
6100/22281
6200/22281
6300/22281
6400/22281
6500/22281
6600/22281
6700/22281
6800/22281
6900/22281
7000/22281
7100/22281
7200/22281
7300/22281
7400/22281
7500/22281
7600/22281
7700/22281
7800/22281
7900/22281
8000/22281
8100/22281
8200/22281
8300/22281
8400/22281
8500/22281
8600/22281
8700/22281
8800/22281
8900/22281
9000/22281
9100/22281
9200/22281
9300/22281
9400/22281
9500/22281
9600/22281
9700/22281
9800/22281
9900/22281
10000/22281
10100/22281
10200/22281
10300/22281
10400/22281
10500/22281
10600/22281
10700/22281
10800/22281
10900/22281
11000/22281
11100/22281
11200/22281
11300/22281
11400/22281
11500/22281
11600/22281
11700/22281
11800/22281
11900/22281
12000/22281
12100/22281
12200/22281
12300/22281
12400/22281
12500/22281
12600/22281
12700/22281
12800/22281
12900/22281
13000/22281
13100/22281
13200/22281
13300/22281
13400/22281
13500/22281
13600/22281
13700/22281
13800/22281
13900/22281
14000/22281
14100/22281
14200/22281
14300/22281
14400/22281
14500/22281
14600/22281
14700/22281
14800/22281
14900/22281
15000/22281
15100/22281
15200/22281
15300/22281
15400/22281
15500/22281
15600/22281
15700/22281
15800/22281
15900/22281
16000/22281
16100/22281
16200/22281
16300/22281
16400/22281
16500/22281
16600/22281
16700/22281
16800/22281
16900/22281
17000/22281
17100/22281
17200/22281
17300/22281
17400/22281
17500/22281
17600/22281
17700/22281
17800/22281
17900/22281
18000/22281
18100/22281
18200/22281
18300/22281
18400/22281
18500/22281
18600/22281
18700/22281
18800/22281
18900/22281
19000/22281
19100/22281
19200/22281
19300/22281
19400/22281
19500/22281
19600/22281
19700/22281
19800/22281
19900/22281
20000/22281
20100/22281
20200/22281
20300/22281
20400/22281
20500/22281
20600/22281
20700/22281
20800/22281
20900/22281
21000/22281
21100/22281
21200/22281
21300/22281
21400/22281
21500/22281
21600/22281
21700/22281
21800/22281
21900/22281
22000/22281
22100/22281
22200/22281

In [86]:
vehicle_labels = vehicle_labels.rename(columns = {'x1':'xmin','y1':'ymin','x2':'xmax','y2':'ymax'})

In [88]:
vehicle_labels.to_csv('train_labels.csv')

In [4]:
train = pd.read_csv('data_detection/train_label.csv')
valid = pd.read_csv('data_detection/val_label.csv')

In [21]:
train = train[(train.xmin<1)&(train.xmin>0)&(train.xmax<1)&(train.xmax>0)&(train.ymin<1)&(train.ymin>0)&(train.ymax<1)&(train.ymax>0)].drop('Unnamed: 0',1)

In [23]:
train.to_csv('train_labels.csv')

In [28]:
valid = valid[(valid.xmin<1)&(valid.xmin>0)&(valid.xmax<1)&(valid.xmax>0)&(valid.ymin<1)&(valid.ymin>0)&(valid.ymax<1)&(valid.ymax>0)].drop('Unnamed: 0',1).drop('Unnamed: 0.1',1)

In [29]:
valid.to_csv('val_labels.csv')

In [95]:
val = vehicle_labels.sample(int(len(vehicle_labels)*0.1))

In [103]:
train = vehicle_labels[~vehicle_labels.filename.isin(list(val.filename))].drop('Unnamed: 0',1)

In [26]:
val = pd.read_csv('val_labels 1.csv')

In [27]:
train = pd.read_csv('train_labels 2.csv')

In [30]:
df = pd.concat([train,val])

In [32]:
df = df.drop('Unnamed: 0',1)

In [35]:
for i in ['xmin','xmax']:
    df[i] = df[i]*df['width']

In [36]:
for i in ['ymin','ymax']:
    df[i] = df[i]*df['height']

In [38]:
df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,24132774_b9929cd668_o.jpg,800,600,vehicle,319.289160,346.027207,470.632410,395.200610
1,24132774_b9929cd668_o.jpg,800,600,vehicle,465.486240,352.557492,598.569679,390.155125
2,3214482128_9b9e3b82b0_o.jpg,1000,867,vehicle,559.847355,466.204708,628.090680,514.931269
3,3214482128_9b9e3b82b0_o.jpg,1000,867,vehicle,648.587584,466.768662,812.520564,550.245677
4,3299004599_76f20ab4de_o.jpg,1067,1600,vehicle,68.269647,1440.175629,223.544943,1582.184219

In [2]:
crowdai = pd.read_csv('data_detection/labels_crowdai.csv')

In [39]:
dataset = pd.read_csv('data_detection/object-dataset/labels.csv',sep='\s+',skipinitialspace=True)

In [55]:
dataset.head()

,filename,xmin,ymin,xmax,ymax,occluded,class,attributes
0,1478019952686311006.jpg,950,574,1004,620,0,car,NaN
1,1478019952686311006.jpg,1748,482,1818,744,0,pedestrian,NaN
2,1478019953180167674.jpg,872,586,926,632,0,car,NaN
3,1478019953689774621.jpg,686,566,728,618,1,truck,NaN
4,1478019953689774621.jpg,716,578,764,622,0,car,NaN

In [57]:
crowdai = crowdai.rename(columns = {'Frame':'filename','Label':'class'})

In [61]:
df2 = pd.concat([dataset,crowdai])[['filename','class','xmin','ymin','xmax','ymax']]

In [63]:
df2['class'] = 'vehicle'

In [64]:
df2

                      filename    class  xmin  ymin  xmax  ymax
0      1478019952686311006.jpg  vehicle   950   574  1004   620
1      1478019952686311006.jpg  vehicle  1748   482  1818   744
2      1478019953180167674.jpg  vehicle   872   586   926   632
3      1478019953689774621.jpg  vehicle   686   566   728   618
4      1478019953689774621.jpg  vehicle   716   578   764   622
5      1478019953689774621.jpg  vehicle   826   580   880   626
6      1478019953689774621.jpg  vehicle  1540   488  1680   608
7      1478019953689774621.jpg  vehicle  1646   498  1848   594
8      1478019954186238236.jpg  vehicle   662   562   710   616
9      1478019954186238236.jpg  vehicle   686   576   730   628
10     1478019954186238236.jpg  vehicle   802   582   856   628
11     1478019954186238236.jpg  vehicle  1448   474  1722   596
12     1478019954186238236.jpg  vehicle  1732   498  1918   594
13     1478019954685370994.jpg  vehicle   640   560   694   614
14     1478019954685370994.jpg  vehicle   662   576   708   624
15     1478019954685370994.jpg  vehicle   776   578   830   624
16     1478019954685370994.jpg  vehicle  1492   472  1830   608
17     1478019955185244088.jpg  vehicle   618   558   678   614
18     1478019955185244088.jpg  vehicle   640   578   688   620
19     1478019955185244088.jpg  vehicle   758   570   812   616
20     1478019955185244088.jpg  vehicle  1560   456  1916   614
21     1478019955679801306.jpg  vehicle   594   572   650   624
22     1478019955679801306.jpg  vehicle   598   554   664   612
23     1478019955679801306.jpg  vehicle   738   568   792   614
24     1478019956186247611.jpg  vehicle   550   566   614   630
25     1478019956186247611.jpg  vehicle   580   550   650   610
26     1478019956186247611.jpg  vehicle   716   564   770   610
27     1478019956680248165.jpg  vehicle   494   564   590   648
28     1478019956680248165.jpg  vehicle   552   552   628   614
29     1478019956680248165.jpg  vehicle   724   572   772   612
...                        ...      ...   ...   ...   ...   ...
72034  1479506173994033498.jpg  vehicle   924   564  1000   620
72035  1479506173994033498.jpg  vehicle   635   564   687   611
72036  1479506173994033498.jpg  vehicle   812   568   866   608
72037  1479506173994033498.jpg  vehicle   869   569   937   613
72038  1479506173994033498.jpg  vehicle   639   575   676   613
72039  1479506174991516375.jpg  vehicle  1224   550  1455   719
72040  1479506174991516375.jpg  vehicle  1812   637  1914   907
72041  1479506174991516375.jpg  vehicle  1030   569  1123   649
72042  1479506174991516375.jpg  vehicle     0   572   248   857
72043  1479506174991516375.jpg  vehicle   192   583   440   776
72044  1479506174991516375.jpg  vehicle   622   584   703   646
72045  1479506174991516375.jpg  vehicle   907   578   970   619
72046  1479506174991516375.jpg  vehicle   970   574  1036   625
72047  1479506174991516375.jpg  vehicle   695   574   748   628
72048  1479506174991516375.jpg  vehicle   686   584   725   632
72049  1479506175971257681.jpg  vehicle  1540   515  1918   840
72050  1479506175971257681.jpg  vehicle  1110   552  1235   658
72051  1479506175971257681.jpg  vehicle   577   575   677   659
72052  1479506175971257681.jpg  vehicle   658   573   722   632
72053  1479506175971257681.jpg  vehicle  1023   558  1104   624
72054  1479506175971257681.jpg  vehicle   957   566  1029   614
72055  1479506175971257681.jpg  vehicle   697   562   761   622
72056  1479506176491553178.jpg  vehicle  1136   550  1296   672
72057  1479506176491553178.jpg  vehicle   501   570   644   673
72058  1479506176491553178.jpg  vehicle   610   572   699   644
72059  1479506176491553178.jpg  vehicle   958   559  1045   621
72060  1479506176491553178.jpg  vehicle  1038   558  1122   630
72061  1479506176491553178.jpg  vehicle   667   558   747   626
72062  1479506176491553178.jpg  vehicle   730   568   818   613
72063  1479506176491553178.jpg  vehicle   435   551   532   589

[165150 rows x 6 columns]

In [ ]:
167650

In [6]:
data = pd.concat([pd.read_csv('data_detection/train_label.csv'),pd.read_csv('data_detection/val_label.csv')]).drop('Unnamed: 0',1)

In [32]:
data[data.ymax/data.height>1]

Empty DataFrame
Columns: [filename, width, height, class, xmin, ymin, xmax, ymax]
Index: []

In [34]:
data = data[((data.xmin/data.width)>0)&((data.xmin/data.width)<1)&((data.xmax/data.width)>0)&((data.xmax/data.width)<1)&((data.ymin/data.height)>0)&((data.ymin/data.height)<1)&((data.ymax/data.height)>0)&((data.ymax/data.height)<1)]

In [10]:
val = data.sample(20)

In [11]:
train = data[~data['filename'].isin(val.filename)]

In [13]:
train.to_csv('train_label.csv')

In [14]:
val.to_csv('val_label.csv')

In [39]:
for i in glob.glob('images/*.jpg'):
    if i not in data.filename.unique():
        os.remove(i)

In [41]:
data.sample(20).to_csv('valval.csv')

In [42]:
data.to_csv('trtr.csv')

In [51]:
a = pd.read_csv('data_detection/object-dataset/labels.csv',sep='\s+',skipinitialspace=True).rename(columns={'label':'Label'})

In [53]:
b = pd.read_csv('data_detection/labels_crowdai.csv').rename(columns = {'Frame':'filename'})

In [57]:
data = pd.concat([a,b])[['filename','Label','xmin','xmax','ymin','ymax']]

In [ ]:
Image

In [79]:
data.Label.unique()

array(['car', 'pedestrian', 'truck', 'trafficLight', 'biker'],
      dtype=object)

In [64]:
data.loc[data.Label == 'Car','Label'] = 'car'

In [67]:
data.loc[data.Label == 'Truck','Label'] = 'truck'

In [69]:
data.loc[data.Label == 'Pedestrian','Label'] = 'pedestrian'

In [73]:
for i in glob.glob('data_detection/**/*.jpg'):
    shutil.move(i,'/home/paperspace/Vehicle_Count/images/'+i.split('/')[-1])

In [83]:
data.insert(0,'width',0)
data.insert(1,'height',0)

In [85]:
img = Image.open('./images/'+'1478019952686311006.jpg')

In [95]:
bb = data[((data.xmin/data.width)>0)&((data.xmin/data.width)<1)&((data.xmax/data.width)>0)&((data.xmax/data.width)<1)&((data.ymin/data.height)>0)&((data.ymin/data.height)<1)&((data.ymax/data.height)>0)&((data.ymax/data.height)<1)].copy()

In [98]:
bb.to_csv('train_labels.csv')

In [99]:
bb.sample(20).to_csv('val_labels.csv')

In [93]:
data.shape

(165150, 8)

In [91]:
j = 0
for i in data.filename.unique():
    img = Image.open('./images/'+i)
    width, height = img.size
    data.loc[data.filename == i,'width'] = width
    data.loc[data.filename == i,'height']  = height
    if j % 100 == 0 :
        print('{}/{}'.format(j,22281))
    j += 1

0/22281
100/22281
200/22281
300/22281
400/22281
500/22281
600/22281
700/22281
800/22281
900/22281
1000/22281
1100/22281
1200/22281
1300/22281
1400/22281
1500/22281
1600/22281
1700/22281
1800/22281
1900/22281
2000/22281
2100/22281
2200/22281
2300/22281
2400/22281
2500/22281
2600/22281
2700/22281
2800/22281
2900/22281
3000/22281
3100/22281
3200/22281
3300/22281
3400/22281
3500/22281
3600/22281
3700/22281
3800/22281
3900/22281
4000/22281
4100/22281
4200/22281
4300/22281
4400/22281
4500/22281
4600/22281
4700/22281
4800/22281
4900/22281
5000/22281
5100/22281
5200/22281
5300/22281
5400/22281
5500/22281
5600/22281
5700/22281
5800/22281
5900/22281
6000/22281
6100/22281
6200/22281
6300/22281
6400/22281
6500/22281
6600/22281
6700/22281
6800/22281
6900/22281
7000/22281
7100/22281
7200/22281
7300/22281
7400/22281
7500/22281
7600/22281
7700/22281
7800/22281
7900/22281
8000/22281
8100/22281
8200/22281
8300/22281
8400/22281
8500/22281
8600/22281
8700/22281
8800/22281
8900/22281
9000/22281
9100/22281
9200/22281
9300/22281
9400/22281
9500/22281
9600/22281
9700/22281
9800/22281
9900/22281
10000/22281
10100/22281
10200/22281
10300/22281
10400/22281
10500/22281
10600/22281
10700/22281
10800/22281
10900/22281
11000/22281
11100/22281
11200/22281
11300/22281
11400/22281
11500/22281
11600/22281
11700/22281
11800/22281
11900/22281
12000/22281
12100/22281
12200/22281
12300/22281
12400/22281
12500/22281
12600/22281
12700/22281
12800/22281
12900/22281
13000/22281
13100/22281
13200/22281
13300/22281
13400/22281
13500/22281
13600/22281
13700/22281
13800/22281
13900/22281
14000/22281
14100/22281
14200/22281
14300/22281
14400/22281
14500/22281
14600/22281
14700/22281
14800/22281
14900/22281
15000/22281
15100/22281
15200/22281
15300/22281
15400/22281
15500/22281
15600/22281
15700/22281
15800/22281
15900/22281
16000/22281
16100/22281
16200/22281
16300/22281
16400/22281
16500/22281
16600/22281
16700/22281
16800/22281
16900/22281
17000/22281
17100/22281
17200/22281
17300/22281
17400/22281
17500/22281
17600/22281
17700/22281
17800/22281
17900/22281
18000/22281
18100/22281
18200/22281
18300/22281
18400/22281
18500/22281
18600/22281
18700/22281
18800/22281
18900/22281
19000/22281
19100/22281
19200/22281
19300/22281
19400/22281
19500/22281
19600/22281
19700/22281
19800/22281
19900/22281
20000/22281
20100/22281
20200/22281
20300/22281
20400/22281
20500/22281
20600/22281
20700/22281
20800/22281
20900/22281
21000/22281
21100/22281
21200/22281
21300/22281
21400/22281
21500/22281
21600/22281
21700/22281
21800/22281
21900/22281
22000/22281
22100/22281
22200/22281

In [81]:
data = data.rename(columns = {'Label':'class'})

In [82]:
data

                      filename       class  xmin  xmax  ymin  ymax
0      1478019952686311006.jpg         car   950  1004   574   620
1      1478019952686311006.jpg  pedestrian  1748  1818   482   744
2      1478019953180167674.jpg         car   872   926   586   632
3      1478019953689774621.jpg       truck   686   728   566   618
4      1478019953689774621.jpg         car   716   764   578   622
5      1478019953689774621.jpg         car   826   880   580   626
6      1478019953689774621.jpg         car  1540  1680   488   608
7      1478019953689774621.jpg         car  1646  1848   498   594
8      1478019954186238236.jpg       truck   662   710   562   616
9      1478019954186238236.jpg         car   686   730   576   628
10     1478019954186238236.jpg         car   802   856   582   628
11     1478019954186238236.jpg         car  1448  1722   474   596
12     1478019954186238236.jpg         car  1732  1918   498   594
13     1478019954685370994.jpg       truck   640   694   560   614
14     1478019954685370994.jpg         car   662   708   576   624
15     1478019954685370994.jpg         car   776   830   578   624
16     1478019954685370994.jpg         car  1492  1830   472   608
17     1478019955185244088.jpg       truck   618   678   558   614
18     1478019955185244088.jpg         car   640   688   578   620
19     1478019955185244088.jpg         car   758   812   570   616
20     1478019955185244088.jpg         car  1560  1916   456   614
21     1478019955679801306.jpg         car   594   650   572   624
22     1478019955679801306.jpg       truck   598   664   554   612
23     1478019955679801306.jpg         car   738   792   568   614
24     1478019956186247611.jpg         car   550   614   566   630
25     1478019956186247611.jpg       truck   580   650   550   610
26     1478019956186247611.jpg         car   716   770   564   610
27     1478019956680248165.jpg         car   494   590   564   648
28     1478019956680248165.jpg       truck   552   628   552   614
29     1478019956680248165.jpg         car   724   772   572   612
...                        ...         ...   ...   ...   ...   ...
72034  1479506173994033498.jpg         car   924  1000   564   620
72035  1479506173994033498.jpg         car   635   687   564   611
72036  1479506173994033498.jpg         car   812   866   568   608
72037  1479506173994033498.jpg         car   869   937   569   613
72038  1479506173994033498.jpg         car   639   676   575   613
72039  1479506174991516375.jpg         car  1224  1455   550   719
72040  1479506174991516375.jpg         car  1812  1914   637   907
72041  1479506174991516375.jpg         car  1030  1123   569   649
72042  1479506174991516375.jpg         car     0   248   572   857
72043  1479506174991516375.jpg         car   192   440   583   776
72044  1479506174991516375.jpg         car   622   703   584   646
72045  1479506174991516375.jpg         car   907   970   578   619
72046  1479506174991516375.jpg         car   970  1036   574   625
72047  1479506174991516375.jpg         car   695   748   574   628
72048  1479506174991516375.jpg         car   686   725   584   632
72049  1479506175971257681.jpg         car  1540  1918   515   840
72050  1479506175971257681.jpg         car  1110  1235   552   658
72051  1479506175971257681.jpg         car   577   677   575   659
72052  1479506175971257681.jpg         car   658   722   573   632
72053  1479506175971257681.jpg         car  1023  1104   558   624
72054  1479506175971257681.jpg         car   957  1029   566   614
72055  1479506175971257681.jpg         car   697   761   562   622
72056  1479506176491553178.jpg         car  1136  1296   550   672
72057  1479506176491553178.jpg         car   501   644   570   673
72058  1479506176491553178.jpg         car   610   699   572   644
72059  1479506176491553178.jpg         car   958  1045   559   621
72060  1479506176491553178.jpg         car  1038  1122   558   630
72061  1479506176491553178.jpg         car   667   747   558   626
72062  1479506176491553178.jpg         car   730   818   568   613
72063  1479506176491553178.jpg         car   435   532   551   589

[165150 rows x 6 columns]